###############################################################################
##                                Root Level                                 ##
###############################################################################

# Environment variables
.env
.env.*
!.env.example

###############################################################################
##                                   API                                     ##
###############################################################################

# Backend specific
backend/node_modules
backend/.env
backend/dist
backend/coverage
backend/uploads/*
!backend/uploads/.gitkeep

###############################################################################
##                                  Node Modules                             ##
###############################################################################
# Dependencies
node_modules
**/node_modules
.pnp
.pnp.js

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

###############################################################################
##                                  Web App                                  ##
###############################################################################
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build outputs
dist
dist-ssr
build
*.local
*.tsbuildinfo

# Testing
coverage
.nyc_output

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.scssc

# Cache directories
.cache
.parcel-cache
.next
.nuxt
.vuepress/dist
.temp
.docusaurus

# Temporary files
*.bak
*.tmp
*~
