button {
  padding: 10px;
  border-radius: 5px;
  width: fit-content;
}

button:hover {
  cursor: pointer;
  box-shadow: 4px 2px var(--white);
}

button:disabled {
  color: var(--light-grey);
  background-color: var(--light-grey2);
}

button:disabled:hover {
  cursor: not-allowed;
  box-shadow: none;
}

.textSmall:is(button) {
  padding: 5px;
}

.textLarge:is(button) {
  padding: 15px;
}

.backgroundLightBlue {
  background-color: var(--bcgov_lighter-blue);
  color: var(--white);
}

.backgroundLightGrey {
  background-color: var(--light-grey);
  color: var(--bcgov_lighter-blue2);
}
